<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>skps.chat</title>

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/defaults.css" />
</head>
<body>
    <div class = "login_form">
        <form action="/" method="POST">
            <h2><span>Login</span></h2>
            <div class="inputs">
                <input type="text" placeholder="username" name="username" />
                <input type="password" placeholder="password" name = "password"/>
            </div>
            <br>
            <input id = "login_btn" type = "submit" value = "Login">
        </form>
        <button onclick="redirect('/signup')" id = "login_btn" href="/signup">Sign up</button><br>
        <button id = "login_close_btn" onclick = "login_popup_close()">X</button><br>

    </div>
    <center>
        <nav id = "nav">
            <button class = "left" onclick = "login_popup()" id = "nav_btns">Login</button>
            <button class = "middle" onclick = "redirect('/')" id = "nav_btns">Home</button>
            <button class = "right" onclick = "redirect('/signup')" id = "nav_btns">Signup</button>
        </nav>
        <div class = "welcome_div">
            <h1>Welcome to skps.chat</h1>
            <hr id = "underline">
        </div>
    </center>
</body>
<script src = "scripts/index.js"></script>
</html>
