<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/signup.css" />
    <link rel="stylesheet" href="css/defaults.css" />
</head>
<body>
    <div id = "signup_div">
        <form action="/signup" method="POST">
            <div class="inputs">
                <input id = "input" type="text" placeholder="Real name" name="realname" />
                <br />
                <input id = "input" type="text" placeholder="Student ID" name="studid"/>
                <br />
                <input id = "input" type="text" placeholder="Grade" name = "grade"/>
                <br>
                <input id = "input" type="text" placeholder="Section" name="section" />
                <br />
                <input id = "input" type="password" placeholder="New password" name = "password"/>
            </div>
            <br /><br /><br />
            <input id = "signup_button" type = "submit" value = "Sign up">
        </form>
    </div>
</body>
</html>